button {
  width: 106px;
  height: 58px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: none;
  line-height: 58px;
  gap: 10px;
  cursor: pointer;
}

span {
  font-size: 35px;
}
.count {
  font-size: 25px;
}
