.numBtn {
  width: 41px;
  height: 45px;
  border-radius: 5px;
  border: 1.5px solid #7c7c7c;
  color: #4a4a4a;
  display: flex;
  line-height: 45px;
  justify-content: center;
  font-size: 23px;
  font-weight: 400;
}
