.InputBox {
    display: flex;
    width: 1200px;
    height: 240px;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.inputdiary {
    display: flex;
    width: 1160px;
    height: 120px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F2F2F2;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.inputdiary:focus {
    outline: none;
}

.buttonArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.submitButton {
    display: flex;
    width: 100px;
    height: 30px;
    padding: 11px 21px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #FA0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonArea input {
    display: flex;
    width: 213px;
    height: 22px;
    padding: 5px 16px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #000;
    background: #FFF;
}