.Header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  background: #faf5ed;
  color: #f08313;
  font-family: Inter;
  font-size: 65px;
  padding-top: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
