.Header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    color: #F08313;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}