.diary-card {
  display: flex;
  flex-direction: column;
  height: 182px;
  width: 240px;
  padding: 22px 18px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
}
.card-top {
  display: flex;
  gap: 16px;
  height: 70px;
}
.top-icon {
  font-size: 50px;
}
.top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.username {
  font-size: 20px;
  font-weight: bold;
}
.date {
  font-size: 12px;
  color: #7a7878;
  font-weight: 400;
}

.cardcontent {
  font-size: 16px;
  font-weight: 400;
  padding: 0 6px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 최대 3줄 */
  line-clamp: 3; /* 권장사항 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
